body {
	background-color: #18191b;
	font-family: 'Rajdhani', sans-serif;
	font-size: 1.8rem;
	color: #fbb140;
		/*Neleidzia select'int teksto*/
	cursor: default;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
	color: #eb573d;
	margin: 40px;
}

h3 {
	color: #eb573d;
	text-align: center;
}

header {
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../storage/mainlogo.gif);
	width: 100%;
	position: relative;
}

form {
	text-align: center;
}
.borders > .container {
	border: 3px solid grey;
	background-image: url(../storage/containerbackground.jpg);
	background-size: cover;
}

#text > h3 {
	color: #eb573d;
	text-align: center;
}


.mainnavigation ul li{
	list-style: none;
	display: inline-block;

}
.mainnavigation ul li a {
	color: grey;
	font-size: 2rem;
}

.mainnavigation {
    display: flex;
    justify-content: space-around;
}

iframe {
	width: 100%;
}

table{
	width: 600px;
	background-color: #18191b;
	opacity: 0.9;
	margin-top: 20px;
}

table td {
	width: 500px;
}

.thumbnail {
	background-color: #18191b;
	margin: 30px;
	opacity: 0.9;
}
p {
	color: #eb573d
}

ul li {
	color: #eb573d;
}

li a {
	color: grey;
}

.contact {
	text-align: center;
}

.mainnavigation > ul > li a:hover {
	background-color: unset;
	color: white;
	transition: 1s all;
}

.collapse ul  li a:hover {
	background-color: unset;
	color: white;
	transition: 1s all;
}

tr {
	color: #eb573d;
}

.contactstwo {
	background-color: #18191b;
	opacity: 0.8;
	margin-top: 20px;
}

.fa  {
	margin-top: -5px;
}
.aboutUs {
	opacity: 0.7;
	
}
.aboutUs  {
	color:#eb573d;
}

.connectbtn {
	background-color: #eb573d;
	border-radius: 10px;
	padding: 3px;
	color: white;
}
.container  .connectbtnhover:hover {
	transform:scale(1.1);
	transition: 1s all;
}

.container  .connectbtnhover a:hover {
	text-decoration: none;
	color: white;
}

#vertical_text{
	position: absolute;
	background-color: rgba(37, 34, 34, 0.6);
	font-size: 5rem;
	width: 100%;
	font-family: 'Kaushan Script', cursive;
	color: white;
	text-align: center;
	display: none;
	bottom: 0;
	right: 0;
}

#vertical_text2{
	position: absolute;
	background-color: rgba(37, 34, 34, 0.6);
	width: 100%;

	font-family: 'Kaushan Script', cursive;
	color: white;
	text-align: right;
	display: none;
	top: 0;
}

#vertical_text2 h3 {
	margin-right: 400px;
	color: #eb573d;
	text-align: right;
}

#vertical_text h3 {
	font-size: 4rem;
	color: white;
}

#text {
	position: absolute;
	background-color: rgba(37, 34, 34, 0.6);
	width: 100%;
	height: auto;
	display: none;
	top: 0;
	color: #fbb140;
	margin-left: -15px;
}
footer {
	position: relative;
}



